html, body, #root {
	height: 100%;
}

#root {
  width: 100%;
  background-color: #24c775;
  text-align: center;
  position: relative;
  display: block;
  box-sizing: border-box;
  overflow: auto;
  margin: 0 auto;
  overflow: auto;
  padding: 20px 30px;
}

.container {
  width: 100%;
  margin: auto;
}

#app-title {
  font-size: 30px;
  font-family: cursive;
}

.row {
	display: inline-flex;
	width: 100%;
}

.col {
	display: block;
	position: relative;
	width: auto;
	margin: 30px;
}