@import './vars.module.scss';

.button {
	border: none;
	font-size: $button-font-size;
	padding: 10px;
	margin: 10px;

	&-theme-strict {
		background-color: black;
		color: white
	}

	&-theme-strict:hover {
		background-color: gray;
	}

	&-theme-fun {
		background-color: #a691f2;
		color: black
	}

	&-theme-fun:hover {
		background-color: yellow;
	}
}

.spacer {
	width: 100%;
}